<a href="https://colab.research.google.com/github/joaovictordds/joaovictordds/blob/main/C%C3%B3digos_Phyton_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fiz um compilado de alguns códigos em *Python* que utilizamos em *Data Science*.
 * Frequentemente estou adicionando novos e atualizando os existentes e em breve, adicionarei os comandos de ML.
 * Utilizei **'base_de_dados'** para me referir ao nome da variável que representa um **banco de dados**.

*Última atualização em 07-06-2021*

### Bibliotecas

In [ ]:
import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Códigos para tratamento de Dados

In [ ]:
base_de_dados.sample(3) # Mostra uma amostra aleatória de três linhas ao invés de usar head ou tale.

In [ ]:
base_de_dados.set_option('display.max_columns', 1) # Codigo para mostrar todas as colunas do dataset. Trocar o 1 pela qtde de linhas do dataset

In [ ]:
base_de_dados.info() # Mostra informações sobre o dados faltantes e do formato dos dados das colunas.

In [ ]:
conjunto = ['dado1', 'dado2', 'dado3', '...', 'dadox']
colunas = ['P1','P2','P3','P4']
nova_base = pd.DataFrame(nova_base, index=conjunto, columns=colunas) # Cria um novo conjunto de dados indexado pelo conjunto

In [ ]:
# Especificando o 'type' da coluna pelo nome da coluna ao imputar a base (para bases de poucas colunas)
base_de_dados = pd.read_csv('/caminho/infomracao.csv', dtypes= { 'nome_coluna':str, 
                                                             'nome_coluna':int,
                                                             'nome_coluna':str,
                                                             'nome_coluna':float })

In [ ]:
base_de_dados['coluna1'] = base_de_dados['coluna1'].astype('float64') # Convertendo coluna string em float

In [ ]:
base_de_dados[base_de_dados.duplicated()] # Pesquisando dados duplicados

In [ ]:
base_de_dados.drop_duplicates(keep='last') # apagando dados duplicados, mantendo o último

In [ ]:
base_de_dados = base_de_dados.drop(columns=['nome_coluna','nome_coluna','nome_coluna','nome_coluna']) # Exclui as colunas selecionadas

In [ ]:
base_de_dados = base_de_dados.drop(0) # Exclui a linha selecionada nesse caso, a primeira

In [ ]:
base_de_dados.drop(base_de_dados.loc[base_de_dados['nome_coluna'] < 1000].index, inplace=True) # Seleciona e exclui linhas selecionadas com condições.

In [ ]:
base_de_dados['smoker'] = base_de_dados['smoker'].map({'yes': 1, 'no': 0}) # Troca variaveis binárias de string para 0 e 1.

In [ ]:
base_de_dados['coluna'] = base_de_dados['coluna'].str.replace('R$','') # substitui cifrão por espaço nos dados da coluna selecionada
base_de_dados['coluna'] = base_de_dados['coluna'].str.replace(',','') # preco precisa ser com ponto
base_de_dados['coluna'] = base_de_dados['coluna'].astype(np.float32, copy=False) #conversão p/float

In [ ]:
base_de_dados.shape # Mostra a qtde de linhas e colunas.

In [ ]:
base_de_dados['novaColuna'] = variavelNova # Adiciona no conjunto uma nova coluna com os dados novos.

In [ ]:
auxiliar() # uma função qualquer.
base_de_dados['NovaCol'] = base_de_dados['colunaX'].apply(auxiliar) # Apply aplica uma função selecionada e coloca os dados numa nova coluna.

In [ ]:
base_de_dados.concat(['basedados1','basedados2']) #Concatena dois conjuntos de dados

In [ ]:
base_de_dados.isnull().sum().sort_values(ascending=False) # Buscar por dados NaN (nulos)

In [ ]:
base_de_dados["coluna"].value_counts() # Conta os valores da coluna selecionada

In [ ]:
# Criação de um dicionário e alteração das informações de uma coluna da base de dados
profmap = {'conteudo existente': 'novo nome',
           'conteudo existente': 'novo nome',
           'conteudo existente': 'novo nome'}
                    
base_de_dados['colunaAlterar'] = base_de_dados['colunaAlterar'].map(profmap)

In [ ]:
.unstack().T # Cria duas colunas selecionadas em uma 'mini base de dados'

In [ ]:
base_de_dados.to_csv('nome-da-base.csv', sep= ',') # Salva a base de dados tratada em csv.

#### Tratando dados dentro da coluna
Quando voce quer alterar as informações nas categorias numa **coluna** e gostaria de padronizar esses dados enviezando-os. Geralmente usa-se em pequenas bases de dados com poucas categorias sem compromissos. *Atentar-se para digitar corretamente os nomes das palavras, com acentos e outros detalhes pois uma única vírgula é suficiente para dar erro.*

In [ ]:
# criando variáveis mais convenientes
# os valores do lado esquerdo sao os que estão na coluna original e a direita sao os novos valores

# empresas
tammap = { 'de 1 a 100': 'Pequena',
           'de 101 a 1000': 'Média',
           'Acima de 1000': 'Grande'}
 
# salarios
salamap = {    'Menos de R$ 1.000/mês': 1000,
      'de R$ 1.001/mês a R$ 2.000/mês': 1500, 
       'de R$ 2.001/mês a R$ 3000/mês': 2500,
      'de R$ 3.001/mês a R$ 4.000/mês': 3500,
               'Acima de R$ 5.000/mês': 5000}

# discretização da idade (escolha arbitraria dos cortes)
cortes = [0, 24, 30, 40, 100] # faixas de idade
nomes = ['[18,24]', '[25,30]', '[31,40]', '[41,50]']
# comando cut vai cortar o banco de dados nas faixas acima e colocar nas devidas novas colunas (nomes)
dados['idade'] = pd.cut(dados["('P1', 'age')"], bins = cortes, labels = nomes) 

# criando novas colunas com as informações alteradas: 
dados['salario'] = dados["('P16', 'salary_range')"].map(salamap)  
dados['tamanho_da_empresa'] = dados["('P12', 'workers_number')"].map(tammap)

### Tratando dados numéricos

#### Dados nulos
Substituição dos dados faltantes pela mediana da coluna

In [ ]:
base_de_dados.isnull().sum()

# substituindo campos vazios pela mediana
base_de_dados['coluna'].describe() # código que mostra algumas informações estatísticas, entre elas a mediana
mediana = sts.median(base_de_dados['coluna']) # crição da variável mediana, que será preenchida nos campos vazios
base_de_dados['coluna'].fillna(mediana, inplace=True)
base_de_dados.isnull().sum() #Verifica existencia de NAN

#repetir o procedimento para todas as colunas numéricas

#### Outliers Numéricos
Para tratar outliers dos dados não existe uma regra universal, porém o setup que ajusta bem no processo de ML é utilizar 2 desvios padrão:

In [ ]:
# localizando dados outliers basicos como idade negativa etc
base_de_dados.loc[ (base_de_dados['coluna'] < 0 'ou outro parametro') | (base_de_dados['Idade'] >= 'parametro') ]

In [ ]:
# substituindo os outliers pela mediana da coluna - sim, outra mediana
mediana = sts.median(dataset['coluna'])
base_de_dados.loc[ (base_de_dados['coluna'] < 0 'ou outro parametro') | (base_de_dados['Idade'] >= 'parametro') ] = mediana

In [ ]:
# Verificar se tem algum valor fora do critério (de dois desvios):
base_de_dados.loc[base_de_dados['coluna'] >=  2 * desv ]

In [ ]:
# Se houver: calculando o desvio padrão dos valores de uma coluna:
desvio = sts.stdev(dataset['coluna'])
# Realizar a subst. de outliers pela mediana
base_de_dados.loc[base_de_dados['coluna'] >=  2 * desvio, 'coluna'] = mediana

In [ ]:
#visualizar 
base_de_dados.loc[(base_de_dados['Idade'] <  0 )  | ( base_de_dados['Idade'] >  120) ]

Nota: realizar os tratamentos categóricos e numéricos em todas as colunas que for utilizar no modelo de ML.

### Tratando dados categóricos

#### Dados Nulos e padronização

In [ ]:
# localizando a moda da coluna
agrupado = base_de_dados.groupby(['coluna']).size()
agrupado
# substituindo campos vazios pela moda
base_de_dados['coluna'].fillna('Moda', inplace=True)
#Verificamos se NAN não existem mais
base_de_dados['Salario'].isnull().sum()

Padronizando dados

In [ ]:
# Busca das informações da coluna selecionada
agrupado = base_de_dados.groupby(['coluna']).size()
agrupado

# padronizando uma informação
base_de_dados.loc[base_de_dados['Genero'] ==  'M', 'Genero'] = "Masculino"

# padronizando varias informações
base_de_dados.loc[base_de_dados['Genero'].isin( ['Fem','F']), 'Genero'] = "Feminino"

#### Tratando Outliers Categóricos

In [ ]:
# dados categoricos necessitam ser substituidos pela moda:
agrupado = base_de_dados.groupby(['Estado']).size() # nesse exemplo o valor é RS
# no exemplo, nosso cliente atua apenas na região sul e portanto existem dados que precisam ser tratados
base_de_dados.loc[base_de_dados['Estado'].isin( ['RP','SP','TD']), 'Estado'] = "RS"

#### Binning

É a junção das linhas mais raras no seu dataset. Com isso, reduz as complexidades das características. Melhorando a performance do modelo. Pode ser usado em variáveis categóricas e numéricas e pode utilizar a categoria outros para baixa cardinalidade. Quando uma das colunas tem varias classificações, por exemplo uma coluna que mostra um tipo de acomodação (apartamento, casa, condominio, service apartment, loft, guest suit, hostel, guesthouse, other, villa, townhouse, aparthote, chelet, boutique, etc) e você uni-las em uma única ('OUTROS'). Nesse caso, vamos unir os dados e mostrar as informações em forma numérica e grafica:

In [ ]:
print(base_de_dados['coluna'].value_counts()) # value_counts() conta as qtes por nome

plt.figure()
grafico = sns.countplot('coluna', data=base_de_dados) # countplot é tipo value_counts dos graficos
grafico.tick_params(axis='x', rotation=90)

A sugestão é, agrupar valores muito pequenos deixando os dados mais compactos e indo direto nas infos que importam:

In [ ]:
tabela_outros = dataset['coluna'].value_counts()  # agrupando tudo novamente so que numa variavel
colunas_agrupar = [] # lista vazia

for i in tabela_outros.index:
    if tabela_outros[i] < x:     # x é a qtde deseja agrupar
        colunas_agrupar.append(i)
print(colunas_agrupar) # para ler as colunas que foram para a variavel

Agora, subtituir esses nomes com poucos valores por um só, agrupando-os:

In [ ]:
for i in colunas_agrupar:
    base_de_dados.loc[base_de_dados['coluna']== i, 'coluna']== 'OUTROS'

Reimprimindo os dados dessa coluna para ver se ficou melhor:

In [ ]:
print(base_de_dados['coluna'].value_counts())

plt.figure()
grafico = sns.countplot('coluna', data=base_de_dados) # countplot é um 'value_counts' dos graficos
grafico.tick_params(axis='x', rotation=90)

### Explorando Dados

In [ ]:
base_de_dados.describe() # Mostra uma descrição estatistica das colunas numéricas que encontrar.

In [ ]:
sns.pairplot(base_de_dados[["coluna1", "coluna2", "coluna3", "colunaX"]], diag_kind="kde"); # Vendo a correlação das variaveis selecionadas entre elas

In [ ]:
# Resumo grafico boxplot
sns.boxplot(base_de_dados['coluna']).set_title('titulo_col')

In [ ]:
# Resumo grafico histograma
sns.histplot(base_de_dados['coluna']).set_title('titulo_col')

In [ ]:
#exibindo dados de forma gráfica para analisar correlações entre os dados
sns.heatmap(base_de_dados.corr(), annot=True, cmap='Greens')
# print(dataset.corr()) # aqui mostra a mesma correlação só que em formato tabela.

In [ ]:
base_de_dados.sort_values(by='COl1', ascending=False) # Ordena o dataset pela coluna selecionada e do maior para o menor.

In [ ]:
base_de_dados.sort_values(by=['COl1','col4'], ascending=False) # Ordena o dataset pelas colunas selecionadas e do maior pro menor depois.

In [ ]:
base_de_dados[base_de_dados['Col2'] == 'X']['col5'].mean() # Filtra o dataset duas vezes e ainda chama uma função. OU
base_de_dados['col2'].groupby(base_de_dados['col5']).mean().round(1) # .round() arredonda os dados

In [ ]:
# Plota um grafico de acordo com o agrupamento; barh plota as barras na horizontal.
base_de_dados['col2'].groupby(base_de_dados['col5']).mean().round(1).plot(kind='barh')

In [ ]:
base_de_dados['colunas'].T.plot(kind='box'); # Plota em formato boxplot

In [ ]:
base_de_dados['col'].plot(kind='hist', edgecolor='black', bins= 10); # Plota um histograma com 10 barras

In [ ]:
base_de_dados.filter(regex= 'P27') # Puxa da tabela todas as informações em que o Regex tiver parte ou uma palavra inteira.

In [ ]:
base_de_dados['col3'] # Chama as informações da coluna selecionada.

In [ ]:
base_de_dados[['col6','col19']] # Chama as informações das colunas selecionadas pelo nome delas.

In [ ]:
base_de_dados[base_de_dados['colunaX'] == 'M'] # Chama apenas os dados especificos da coluna selecionada.

In [ ]:
base_de_dados[base_de_dados['co1'] > 4] # Chama as informações de acordo com o filtro.

In [ ]:
# Chama as info's das colunas de acordo com as condições solicitadas.
base_de_dados[(base_de_dados['col1'] > 4) & (base_de_dados['col3'] == 'F')] #ex1
base_de_dados.loc[base_de_dados['P3'] > 4].loc[base_de_dados['Sexo']=='F'] #ex2

In [ ]:
base_de_dados.loc['linha'] # Chama os valores da LINHA selecionada

In [ ]:
base_de_dados.iloc[3:,2:3] # Chama as informações da quarta linha pra frente da segunda coluna. É Indexado à posição dos dados no conjunto de dados.

In [ ]:
base_de_dados.iloc[:,[1,7,6]] # Chama todas as linhas das colunas 1, 7 e 6 respectivamente.

In [ ]:
base_de_dados.mean() # Chama a média. axis=1 chamaria pelas médias das linhas

In [ ]:
base_de_dados.T # Transpõe os dados de colunas para os indices.

In [ ]:
base_de_dados["coluna1"].value_counts() / len(base_de_dados) # distribuição das categorias da coluna selecionada em percentual

In [ ]:
base_de_dados['col1'].value_counts() # distribuição das categorias em valores absolutos

### Conversão de dias em anos

In [ ]:
#Convert DAYS to YEARS
cust_data['EMP_YEARS'] = cust_data.DAYS_EMPLOYED/365
cust_data['AGE'] = cust_data.DAYS_BIRTH/365
cust_data.drop(["DAYS_BIRTH","DAYS_EMPLOYED"],axis = 1,inplace = True)
cust_data.head()

carece de informação..

### Vizualizando dados em um mapa

carece de informação..

### ML

carece de informação..